.resumo__container {
   align-items: center;
   display: flex;
   justify-content: center;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--gradient) 50% 85%,
      var(--branco) 85%
   );
}

.resumo__container--texto {
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 70%;
   color: var(--cinza-medio);
}
