.resumo__link {
   display: flex;
   align-items: center;
   color: var(--vermelho-escuro);
   font-size: 1rem;
   text-decoration: none;
}
.resumo__link:hover {
   color: var(--vermelho-vivo);
   transition: 0.5ms ease-in-out;
}
.resumo__link img {
   margin: 0 0.25rem;
   height: 0.8rem;
}
