.resumo__container {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 20.3125rem;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--gradient-titulo) 50% 83%,
      var(--branco) 83%
   );
}

.resumo__container--texto {
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 2%;
   width: 60%;
   color: var(--cinza-medio);
}

@media screen and (max-width: 769px) {
   .resumo__container {
      height: 12.5rem;
   }

   .resumo__container--texto {
      box-sizing: border-box;
      margin: 2%;
      height: 12.5rem;
      gap: 5px;
      align-items: flex-start;
      padding: 5px;
   }
}
@media screen and (max-width: 426px) {
   .resumo__container {
      height: 22rem;
      background: linear-gradient(0deg, var(--branco), var(--gradient) 60%);
   }

   .resumo__container--texto {
      display: flex;
      box-sizing: border-box;
      margin: 2%;
      height: 20rem;
      gap: 5px;
      align-items: flex-start;
      padding: 5px;
   }
}
