.resumo__texto {
   width: 43.75rem;
   height: 9.375rem;

   line-height: 1.2rem;

   color: var(--cinza-medio);
}
@media screen and (max-width: 1025px) {
   .resumo__texto {
      width: 37.5rem;
      height: 9.375rem;
      font-size: 1rem;

      line-height: 1.1rem;
   }
}
@media screen and (max-width: 769px) {
   .resumo__texto {
      width: 29.062rem;

      font-size: 0.7rem;
      line-height: 1rem;
   }
}
@media screen and (max-width: 426px) {
   .resumo__texto {
      width: 15rem;
      height: 15rem;

      font-size: 0.7rem;
      line-height: 1rem;
   }
}
