.resumo__lista {
   display: flex;
   align-items: center;
   gap: 20px;
   margin: 2% 0 1.5% 0;
}

@media screen and (max-width: 769px) {
   .resumo__lista {
      margin: 1% 0 2% 0;
      height: 0.75rem;
   }
}
