.contato__escrita {
   color: var(--fonte-destaque);
   border: none;
   background: var(--gradient);
   border-radius: 10px;
   box-sizing: border-box;
   font-size: 1.1rem;
   padding: 3px 8px;
   width: 18.75px;
   height: 2rem;
}
.contato__escrita--mensagem {
   resize: none;
   width: 28.125rem;
   height: 10.937rem;
}

@media screen and (max-width: 769px) {
   .contato__escrita {
      width: 28.125rem;
   }
}
