.projetos__cabecalho {
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 22rem;
   margin: 2% 0;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--gradient-titulo) 30% 81%,
      var(--branco) 75%
   );
}

@media screen and (max-width: 1024px) {
   .projetos__cabecalho {
      gap: 18rem;
   }
}
@media screen and (max-width: 769px) {
   .projetos__cabecalho {
      gap: 15rem;
   }
}
@media screen and (max-width: 426px) {
   .projetos__cabecalho {
      gap: 6rem;
      background: linear-gradient(
         90deg,
         var(--branco),
         var(--gradient-titulo) 30% 81%,
         var(--branco) 75%
      );
   }
}
