.projetos__projetos {
   display: flex;
   align-items: center;
   gap: 5rem;
   justify-content: center;
   margin-top: 2%;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--gradient) 30% 70%,
      var(--branco) 70%
   );
}
