.hobbies__lista {
   display: flex;
   align-items: center;
   gap: 1.875rem;
   height: 12.5rem;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--gradient) 30% 90%,
      var(--branco) 78%
   );
}

@media screen and (max-width: 1024px) {
   .hobbies__lista {
      transform: scale(0.8);
   }
}
.hobbies__lista {
   gap: 0.9375rem;
}
@media screen and (max-width: 426px) {
   .hobbies__lista {
      background: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.9375rem;
      margin: 1%;
      justify-items: center;
      height: 18.5rem;
   }
}
