.hobbies__container {
   align-items: center;
   display: flex;
   justify-content: center;
   margin: 1.5%;
   height: 12.5rem;
}

@media screen and (max-width: 1024px) {
   .hobbies__container {
      margin: 0;
   }
}
@media screen and (max-width: 769px) {
   :root {
      font-size: 14px;
   }
   .hobbies__container {
      margin: 2% 0;
      height: 10rem;
   }
}
@media screen and (max-width: 426px) {
   .hobbies__container {
      height: 15.5rem;
   }
}
