.hobbies__caixa {
   align-items: center;
   background-color: var(--branco);
   border-radius: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: flex-end;
   padding: 25px;
   margin: 20px 0;
}
.hobbies__caixa-jogos {
   height: 140px;
   width: 140px;
}
.hobbies__caixa-cozinhar {
   height: 160px;
   width: 160px;
}
.hobbies__caixa-praia {
   height: 185px;
   width: 185px;
}
.hobbies__caixa-spotify {
   height: 200px;
   width: 200px;
   background: var(--destaque-caixa);
}
