.hobbies__container {
   align-items: center;
   display: flex;

   justify-content: flex-end;
   height: 200px;
   margin-top: 3%;
   width: 75%;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--vermelho-background) 30%
   );
}
