.rodape__container {
   align-items: center;
   display: flex;
   flex-direction: column;

   padding-top: 35px;
   padding-bottom: 15px;

   gap: 15px;

   background: linear-gradient(180deg, var(--branco), var(--gradient) 15%);

   /* background: var(--gradient); */

   height: 300 px;
}
