.cabecalho {
   align-items: center;
   display: flex;
   font-family: "montserrat";
   justify-content: space-between;
   padding: 1rem 2rem;
}

.container {
   display: flex;
   align-items: center;
}
.nome {
   color: var(--cinza-medio);
   font-weight: 500;
}

@media screen and (max-width: 426px) {
   /* .cabecalho {
      display: none;
   } */
}
