:root {
   --vermelho-logo: #c10b1c;
   --vermelho-claro: #f35353;
   --vermelho-vivo: #f00000;
   --vermelho-escuro: #8d0000;

   --vermelho-background: #fbefef;
}

.sobre {
   background-color: var(--vermelho-background);
   height: 300px;
}
