:root {
   --background: #eaf2fd;
   --destaque-caixa: #c6deff;
   --fonte-destaque: #003887;
   --fonte-medio: #1b6cde;
   --gradient: #eaf2fd;
   --gradient-marinho: #d0f5ef;
   --fonte-marinho: #169680;
   --fonte-marinho-medio: #06d7b4;

   --cinza-medio: #636363;
   --cinza-claro: #b5b3b3;
   --branco: #ffffff;

   font-family: "montserrat";
}
