.habilidades__caixa {
   align-items: center;
   background-color: var(--branco);
   border-radius: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: flex-end;
   padding: 25px;
   margin: 20px 0;
}
.habilidades__caixa-illustrator {
   gap: 0px;
   height: 110px;
   width: 110px;
}
.habilidades__caixa-photoshop {
   height: 140px;
   width: 140px;
}
.habilidades__caixa-html {
   height: 160px;
   width: 160px;
}
.habilidades__caixa-css {
   height: 185px;
   width: 185px;
}
.habilidades__caixa-js {
   height: 200px;
   width: 200px;
   background: var(--destaque-caixa);
}
