.habilidades__caixa {
   align-items: flex-start;
   background-color: var(--branco);
   border-radius: 15px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: flex-end;
   padding: 15px;
   margin: 20px 10px;

   height: 150px;
   width: 150px;
}
