.formacao__logo-ifce {
   transform: scale(0.9);
}
.formacao__logo-senac {
   transform: scale(0.8);
}
.formacao__logo-one {
   transform: scale(0.9);
}

@media screen and (max-width: 769px) {
   :root {
      font-size: 14px;
   }
   .formacao__logo-ifce {
      transform: scale(0.9);
   }
}
