.formacao__caixa {
   align-items: center;
   background-color: var(--branco);
   border-radius: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 0.625rem;
   justify-content: flex-end;
   padding: 1.562rem;
   height: 12.5rem;
}
.formacao__caixa-ifce {
   height: 10rem;
   width: 10rem;
   padding: 2.812rem;
   justify-content: center;
}
.formacao__caixa-senac {
   height: 11.562rem;
   width: 11.562rem;
}

.formacao__caixa-one {
   height: 12.5rem;
   width: 12.5rem;
   background: var(--destaque-caixa);
}

@media screen and (max-width: 769px) {
   :root {
      font-size: 14px;
   }

   .formacao__caixa-ifce {
      justify-content: center;
      gap: 0.5rem;
   }
}

@media screen and (max-width: 426px) {
   .formacao__caixa {
      order: 2;
      background-color: var(--gradient);
      height: 8.75rem;
      width: 8.75rem;
   }
}
