.formacao__caixa {
   background-color: var(--branco);
   border-radius: 100%;
   box-sizing: border-box;

   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   margin: 20px 0;
   padding: 30px;
}
.formacao__caixa-ifce {
   height: 160px;
   width: 160px;
   padding: 45px;
}
.formacao__caixa-senac {
   height: 185px;
   width: 185px;
}

.formacao__caixa-one {
   height: 200px;
   width: 200px;
   background: #fbdbde;
}
