.formacao__container {
   display: flex;
   align-items: center;

   justify-content: center;
   height: 200px;
   margin: 3% 0;
   width: 65%;
   background: linear-gradient(
      90deg,
      var(--branco),
      var(--vermelho-background) 30%
   );
}
