.formacao__lista {
   display: flex;
   align-items: center;
   gap: 30px;
   height: 200px;

   background: linear-gradient(
      90deg,
      var(--branco),
      var(--gradient) 30% 90%,
      var(--branco) 78%
   );
}
